body {

    margin: 0%;
    overflow-x: hidden;
    background-color: white;

    
}
p2 {   

    font-family: nos;
    color: #b90505;
    font-size: 20pt;
}
@font-face {
    font-family: nos;
    src: url(OPTICenturyExpandedTwo.otf);
}

.star1 {
    opacity: 85%}
    
/* This is our header ---------*/
header {
padding: 0%;
background-image: linear-gradient(to bottom, #395f39, #c7cef600);
align-items: center;
display: flex;
height: 200px;
}
#nav1:hover{ text-decoration: underline 2px;color: #b90505;
}
#nav2:hover{ text-decoration: underline 2px;color:  #b90505;
}
#nav3:hover{ text-decoration: underline 2px;color:    #b90505;
}
#nav4:hover{ text-decoration: underline 2px; color:  #b90505;
}

/* Nav classifies individual buttons in header*/
#nav,#nav1,#nav2,#nav3,#nav4 {
    color: black;
    
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;
    text-decoration:none;

    font-size: 100%;
    
    
 }
#nav {
    font-size: 150%; 
    text-align: center;
    font-family: nos,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
#nav1,#nav2,#nav3,#nav4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#logo {  
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;

}
/* --------------------*/


/* This is our main --------- */
/* very simple */

#indexmain {


padding-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    

}
.structure { 

    

    line-height: 200%;
    min-height: 650px;
    text-decoration:none;
    display:inline-block;
    
}

.content {  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    text-align: justify; 
    text-align-last: left;   
    max-width: 500px;
    margin-right: 10%;
    color:  #b90505
    
}

.images {
    background-color: black;
}
.indeximg {
    width: 120px;

}
#anchor1 {text-decoration: none; 
    color: black;
}


.star {width: 600px;
    
    rotate: 11deg;
    
}

.star1 {width: 600px;
    
    rotate: -30deg;
    
}
.star2 {width: 100px;
    
    rotate: 240deg;
    
}



 .footer {

    background-image: linear-gradient(to top, #395f3957, #c7cef600);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 200%;
    

    align-items: center;
    display: flex;
    height: 100px;

    
}
a{ 
    text-decoration: none; 
    color:  #b90505
 }

.foot {
    color: #b90505;
    display: inline-block;

padding-right: 5%;}

ul {line-height: 500%;}

@media only screen and (max-width: 1200px) {
    #nav4 {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .star1 {
        width: 300px;
    }
}

@media only screen and (max-width: 450px) {
    p2 {
        font-size: 15pt;
    }

    .star1 {
        width: 250px;
    }

    #nav4 {
        display: none;
    }

    header {
        height: 150px
    }



}
