body {

    margin: 0%;
    overflow-x: hidden;
    background-color: white;
    
    
    
}


/* Title Fonts ---------*/
/*-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-*/

@font-face {
    font-family: nos;
    src: url(OPTICenturyExpandedTwo.otf);
}

p2 {
    font-size: 20pt;
    font-family: nos;
    color: #b90505
}


a {
    text-decoration: none;
    color: #000000;

}

a :hover {
    color: #b90505
}




/* This is our header ---------*/
/*-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-*/

header {
    padding: 0%;
    background-image: linear-gradient(to bottom, #395f39, #c7cef600);
    align-items: center;
    display: flex;
    height: 200px;
    
    }
    #nav1:hover{ text-decoration: underline 2px;color: #b90505;
    }
    #nav2:hover{ text-decoration: underline 2px;color:  #b90505;
    }
    #nav3:hover{ text-decoration: underline 2px;color:    #b90505;
    }
    #nav4:hover{ text-decoration: underline 2px; color:  #b90505;
    }
    
    /* Nav classifies individual buttons in header*/
    #nav,#nav1,#nav2,#nav3,#nav4 {
        color: black;
        
        padding: 2%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-left: 5%;
        text-decoration:none;
    
        font-size: 100%;
        
        
     }
    #nav {
        font-size:150%; 
        text-align: center;
        font-family: nos,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        
    }
    #nav1,#nav2,#nav3,#nav4 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #logo {  padding-right: 5%;
        padding-left: 5%;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-left: 5%;
    
    }
    /* --------------------*/
    
    
/* Headings */
/*-----------------------------------------------------------------------------------------------------------------*/
h4 {
    font-size: 20pt;
}

h5 {
    font-size: 18pt;
}

/*-----------------------------------------------------------------------------------------------------------------*/



/*-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-*/
/* Main grid Content */

.indeximg {
    width: 500px;
    margin: 5%;
    text-align: right;
}

#anchor1 {
    text-decoration: none;
    color: black;
}

#projectsmain {
    text-align: center;
    background-image: linear-gradient(to bottom, #17ff36, #08620a, #87de6c, );
}

#imagegrid {
    display: inline-block;
    width: 80%;
    
    padding-top: 3%;
}


/*-----------------------------------------------------------------------------------------------------------------*/
/* grid box wrap*/
/*-----------------------------------------------------------------------------------------------------------------*/
#container {
    display: inline-block;
    position: relative;
    margin: 2%;
    max-width: 400px;
    /* Container has a maximum width of 400px */
    width: 100%;
    /* Make the container responsive to the parent width */
    height: 250px;
    /* Constant height */
    overflow: hidden;
    /* Prevent overflow */
}
/*-----------------------------------------------------------------------------------------------------------------*/
/* first Box wrap*/
/*-----------------------------------------------------------------------------------------------------------------*/
#containertext {

    display: inline-block;
    margin: 2%;
    max-width: 400px;
    height: 100px;
    text-align: justify;
    text-align-last: left;
    line-height: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10.5pt;
    width: 100%;
    height: 100%;
    color: #b90505


}
/*-----------------------------------------------------------------------------------------------------------------*/
/* second box wrap*/
/*-----------------------------------------------------------------------------------------------------------------*/
#containertext2 {
    display: inline-block;
    margin: 2%;
    max-width: 400px;
    height: 100px;
    text-align: justify;
    text-align-last: left;
    line-height: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10.5pt;
    width: 100%;
    height: 100%;
    color: #ff0000;
    transition: transform 1s ease-in-out;
    padding: 20px;
}


/*-----------------------------------------------------------------------------------------------------------------*/
/* images*/
/*-----------------------------------------------------------------------------------------------------------------*/
#img,
#img2 {
    width: 100%;
    /* Image width will always fit the container's width */
    height: 100%;
    /* Image height will stretch to the container's height */
    object-fit: cover;
    /* Ensure the image fills the entire container */
    opacity: 80%;
    position: relative;
}
/*-----------------------------------------------------------------------------------------------------------------*/
#imagelabel {
    position: absolute;
    bottom: 10%;
    left: 5%;

    text-align: center;
    font-size: 100%;

    font-family: nCambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/*-----------------------------------------------------------------------------------------------------------------*/
/* controls the image label on grid box*/
.anchormenu {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------*/
/* overlay itself*/
.overlay {
    background-color: #45121236;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 250px;
    transition: opacity 0.3s ease;
}


.overlay:hover {
    opacity: 0;
}


.footer {
    padding: 3% 10%;
    background-image: linear-gradient(to top, #7c857c, #7c857c00);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 200%;
    display: flex;
}

.footwrap {
    padding-top: 5%;
}

.foot {
    color: #b90505;
    padding-right: 5%;
}

.foot {
    color: #b90505;
    padding-right: 5%;
}

.star2 {
    width: 100px;
    rotate: 240deg;

}

#containertext2 :hover { transform: rotate(360deg);
cursor: pointer;
background-image: radial-gradient(rgba(0, 0, 0, 0.096),rgba(0, 0, 0, 0.035),rgba(237, 39, 39, 0));
}


.star {
    position: fixed;
    transform: translate(-50%, 5%); /* Adjust to center it properly */
        width: 600px; /* Set the star size */
        opacity: 1; /* Adjust transparency if needed */
        rotate: 140deg;
    }

    #containertext2 .star2 {
        transition: 3s ease;
    }

/*-----------------------------------------------------------------------------------------------------------------*/
/*-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-*/
/*-----------------------------------------------------------------------------------------------------------------*/
/* Acknowledgement of country*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contentover { 
    text-align: center;

    display: inline-block;
}

.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b90505;
    z-index: 1000; 

}

.content2 {

    font-size: 10.5pt;
    line-height: 200%;

    max-width:700px;
    text-align: justify;
    text-align-last: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;

    margin: 10%;

}






/*-----------------------------------------------------------------------------------------------------------------*/
/*-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-*/
/*-----------------------------------------------------------------------------------------------------------------*/

/* End Quieries*/

@media only screen and (max-width: 1200px) {


    #face {
        display: none;
    }

    #containertext {
        margin-bottom: 5%;
    }
}


@media only screen and (max-width: 800px) {

    /* as screen gets narrower star dissapears*/
    .star {
        transform: translate(-20%, 5%);
        /* Adjust to center it properly */
        width: 70%;
    }



    #starpos {
        display: none;
        width: 0;
        height: 0;

    }

}

@media only screen and (max-width: 450px) {
    p2 {font-size: 15pt; }

}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-*/
/*-----------------------------------------------------------------------------------------------------------------*/


