body {
    background-image: linear-gradient(to bottom, #d5daf9, #fff3e1, #f2f3e2, );
    margin: 0%;
    overflow-x: hidden;
}

p2 {
    font-size: 20pt;
    font-family: nos, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: nos;
    src: url(OPTICenturyExpandedTwo.otf);
}

/* This is our header ---------*/
header {
    padding: 0%;
    background-image: linear-gradient(to bottom, #435343, #43534300);
    align-items: center;
    display: flex;
}

#nav1:hover {
    text-decoration: underline 2px;
    color: #b90505;
}

#nav2:hover {
    text-decoration: underline 2px;
    color: #b90505;
}

#nav3:hover {
    text-decoration: underline 2px;
    color: #b90505;
}

#nav4:hover {
    text-decoration: underline 2px;
    color: #b90505;
}

/* Nav classifies individual buttons in header*/
#nav,
#nav1,
#nav2,
#nav3,
#nav4 {
    color: black;

    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;
    text-decoration: none;

    font-size: 100%;


}

#nav {
    font-size: 150%;
    text-align: center;
    font-family: nos, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

#nav1,
#nav2,
#nav3,
#nav4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;

}

/* ----------------------------------------------- */
/* ---------------- Structure of our index--------------------- */
#indexmain {

    display: inline-block;
    align-items: center;
    width: 100%;

    /* align items to center */
}

.structure {
    position: relative;
    /* Establishes positioning context */

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 200%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 10.5pt;
    /* Define width if needed */

}


.content {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    text-align-last: left;
    max-width: 500px;
    /* Restrict max width for content */
    width: 100%;
    /* Ensure content stretches within the container */
    color: #060ae4;

}

/* ----------------------------------------------- */
/* ---------------- Locating and placing image--------------------- */

.star {
    width: 600px;
    rotate: 25deg;
}


.wrap {
    position: absolute;
    /* Positioned relative to .structure */
    top: 0px;
    right: -150px;
    /* Adjust to position .wrap above .content */

    /* Center horizontally */
    z-index: 10;
    /* Ensure .wrap is above .content */
    /* Add any additional styling as needed */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/* ----------------------------------------------- */

.footer {
    position: relative;
    bottom: -30%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: linear-gradient(to top, #7c857c,#7c857c00);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 200%;
    
    
}
a{ 
    text-decoration: none; 
    color: #060ae4;
 }

.foot {
    color: #b90505;
    display: inline-block;

padding-right: 5%;}

ul {line-height: 500%;}

@media only screen and (max-width: 800px) {

    /* as screen gets narrower star dissapears*/
    .star {
        display: none;
        width: 0%;
    }

    #nav4 {
        display: none;
    }

    #starpos {
        display: none;
        width: 0;
        height: 0;

    }

}




@media only screen and (max-width: 450px) {

    p2 {
        font-size: 15pt;
    }


}
