body {
    background-image: linear-gradient(to bottom, #d5daf9,#fff3e1,#f2f3e2,);
    margin: 0%;
    
    

    
}
p2 {font-size: 20pt;
    font-family: nos,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

@font-face {
    font-family: nos;
    src: url(OPTICenturyExpandedTwo.otf);
}

/* This is our header ---------*/
header {
padding: 0%;
background-image: linear-gradient(to bottom, #435343,#43534300);
align-items: center;
display: flex;
}
#nav1:hover{ text-decoration: underline 2px;color: #b90505;
}
#nav2:hover{ text-decoration: underline 2px;color:  #b90505;
}
#nav3:hover{ text-decoration: underline 2px;color:    #b90505;
}
#nav4:hover{ text-decoration: underline 2px; color:  #b90505;
}

/* Nav classifies individual buttons in header*/
#nav,#nav1,#nav2,#nav3,#nav4 {
    color: black;
    
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;
    text-decoration:none;

    font-size: 100%;
    
    
 }
#nav {
    font-size:150%; 
    text-align: center;
    font-family: nos,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
#nav1,#nav2,#nav3,#nav4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#logo {  padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;

}
/* --------------------*/


/* This is our main --------- */
/* very simple */
#indexmain {


    text-align: center;
    margin-left: 10%;
    margin-right: 10%;


}
.structure { 

    text-align: center;

    line-height: 200%;
    
    text-decoration:none;
    display: inline-block;
    
}

.content {  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


    text-align: justify; 
    text-align-last: left;   
    

    max-width: 500px;
    margin-right: 10%;
    color: #060ae4;
    position: absolute;
    

}
.images {
    background-color: black;
}
.indeximg {
    width: 120px;

}
#anchor1 {text-decoration: none; 
    color: black;
}


.star {width: 600px;
    
    rotate: 11deg;
    
}


.wrap2 
{
    width: 600px;
    height:600px;
    position: relative;
    left: 20%;
    bottom: 20%;
 }
 .wrap 
{
    width: 600px;
    height:600px;
    position: relative;
    left: 70%;
    top: -5%;

    
 }
 .footer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: linear-gradient(to top, #7c857c,#7c857c00);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 200%;
    display: flex;
    

    
}

.foot {
    color: #b90505;

padding-right: 5%;}
.footwrap {
    margin-top:5%}

ul {line-height: 500%;}
@media only screen and (max-width: 1200px) {
    .star {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    #nav4 {
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    .structure {
        min-height: 800px;

    }
    p2 {
        font-size: 15pt;
    }
}
