body {
    background-image: linear-gradient(to bottom, #d5daf9, #fff3e1, #f2f3e2);
    margin: 0;
}

p2 {
    font-size: 20pt;
    font-family: nos, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: nos;
    src: url(OPTICenturyExpandedTwo.otf);
}

/* Header */
header {
    padding: 0;
    background-image: linear-gradient(to bottom, #435343, #43534300);
    align-items: center;
    display: flex;
}

/* Navigation */
#nav1:hover,
#nav2:hover,
#nav3:hover,
#nav4:hover {
    text-decoration: underline 2px;
    color: #b90505;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

#nav, #nav1, #nav2, #nav3, #nav4 {
    color: black;
    padding: 2% 5% 5%;
    text-decoration: none;
    font-size: 100%;
}

#nav {
    font-size: 150%;
    text-align: center;
    font-family: nos, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav1, #nav2, #nav3, #nav4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo {
    padding: 3% 5%;
    
}

/* Headings */
h4 { font-size: 20pt; }
h5 { font-size: 18pt; }

/* Positioning */
#pos {
    text-align: left;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
}

#content2 {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 95%;
    text-align: justify;
    text-align-last: left;
    line-height: 250%;
    color: #060ae4;
    position: relative;
}

/* Main Content */
.indeximg {
    width: 150px;
    margin: 5%;
    text-align: right;
}

#anchor1 {
    text-decoration: none;
    color: black;
}

#projectsmain {
    text-align: center;
}

#imagegrid {
    display: inline-block;
    width: 80%;
}



#container {
    display: inline-block;
    position: relative;
    margin: 2%;
    max-width: 400px;   /* Container has a maximum width of 400px */
    width: 100%;        /* Make the container responsive to the parent width */
    height: 250px;      /* Constant height */
    overflow: hidden;   /* Prevent overflow */
}

#img, #img2 {
    width: 100%;        /* Image width will always fit the container's width */
    height: 100%;       /* Image height will stretch to the container's height */
    object-fit: cover;  /* Ensure the image fills the entire container */
    opacity: 80%;
    position: relative;
}
#imagelabel {
    position: absolute;
    bottom: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.anchormenu {
    color: #fff;
    text-decoration: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 250px;
    transition: opacity 0.3s ease;
}

.overlay:hover {
    opacity: 0;
}

.footer {
    padding: 3% 10%;
    background-image: linear-gradient(to top, #7c857c, #7c857c00);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 200%;
    display: flex;
}

.footwrap {
    padding-top: 5%;
}

.foot {
    color: #b90505;
    padding-right: 5%;
}
