

body {
    background-image: linear-gradient(to bottom, #d5daf9,#fff3e1,#f2f3e2,);
    margin: 0%;
    

    
}
p2 {font-size: 20pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}



/* This is our header ---------*/
header {
padding: 0%;
background-image: linear-gradient(to bottom, #435343,#43534300);
align-items: center;
display: flex;
}
#nav1:hover{ text-decoration: underline 2px;color: #b90505;
}
#nav2:hover{ text-decoration: underline 2px;color:  #b90505;
}
#nav3:hover{ text-decoration: underline 2px;color:    #b90505;
}
#nav4:hover{ text-decoration: underline 2px; color:  #b90505;
}

/* Nav classifies individual buttons in header*/
#nav,#nav1,#nav2,#nav3,#nav4 {
    color: black;
    
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;
    text-decoration:none;

    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
 }
#nav {font-size:150%; text-align: center;
    
}
#logo {  padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;

}
/* --------------------*/




h4 {font-size: 20pt;}
h5 {font-size: 18pt;}

/* This is our heading in nav --------- */
#pos {

    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;

}

#content2 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%; 
    text-align: justify;
    text-align-last: left;
    line-height: 250%;
    color: #060ae4;
    position: relative;

}



/* This is our main --------- */
/* very simple */



.indeximg {
    width: 150px;
    margin-left: 10%;
    text-align: right;

    
}
#anchor1 {text-decoration: none; 
    color: black;
}
/* this is the selection menu*/
#projectsmain { 

   text-align: center;


   
}
#imagegrid {  
    
    display: inline-block;
    width: 80%;
    


}
#container {

display: inline-block;
position: relative;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 60px;
}
#img2{
    width: 400px;
    height: 250px;
    object-fit:cover;
    opacity: 80%;
    position: relative;


}
#img {
    width: 400px;
    height: 250px;
    object-fit:cover;
    opacity: 80%;
    position: relative;

}
#imagelabel {
    position: absolute;
    bottom: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.anchormenu {

    color: rgb(255, 255, 255);
    text-decoration: none;
    
    
}
.overlay {
background-color: rgb(0, 0, 0);
position: absolute;
top: 0;
left: 0;
width: 400px;
height: 250px;
opacity: 40%

}
.overlay:hover{ opacity: 0%;
}
